/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
  &:hover {
    color: #000;
  }
  &:visited {
    color: #a0a;
  }
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  li {
    line-height: 1.75em;
  }
  span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
  a {
    color: #a00;
    &:hover {
      color: #000;
    }
  }
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
  &:hover {
    color: #000;
  }
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  .contact {
    float: left;
    margin-right: 3em;
    a {
      color: #8085C1;
    }
  }
  .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
    img {
      border: 0;
    }
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post {
  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }
  ul, ol {
    margin-left: 1.35em;
  }
  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }
  pre {
    code {
      border: none;
    }
    /* terminal */
    &.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;
      code {
        background-color: #333;
      }
    }
  }
}
