<ul class="social-media-list">
  {% if site.dribbble_username%}<li><a href="https://dribbble.com/{{ site.dribbble_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#dribbble"></use></svg> <span class="username">{{ site.dribbble_username| escape }}</span></a></li>{% endif %}
  {% if site.facebook_username%}<li><a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#facebook"></use></svg> <span class="username">{{ site.facebook_username| escape }}</span></a></li>{% endif %}
  {% if site.flickr_username%}<li><a href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#flickr"></use></svg> <span class="username">{{ site.flickr_username| escape }}</span></a></li>{% endif %}
  {% if site.github_username%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#github"></use></svg> <span class="username">{{ site.github_username| escape }}</span></a></li>{% endif %}
  {% if site.instagram_username%}<li><a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#instagram"></use></svg> <span class="username">{{ site.instagram_username| escape }}</span></a></li>{% endif %}
  {% if site.linkedin_username%}<li><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#linkedin"></use></svg> <span class="username">{{ site.linkedin_username| escape }}</span></a></li>{% endif %}
  {% if site.pinterest_username%}<li><a href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#pinterest"></use></svg> <span class="username">{{ site.pinterest_username| escape }}</span></a></li>{% endif %}
  {% if site.twitter_username%}<li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#twitter"></use></svg> <span class="username">{{ site.twitter_username| escape }}</span></a></li>{% endif %}
  {% if site.youtube_username%}<li><a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#youtube"></use></svg> <span class="username">{{ site.youtube_username| escape }}</span></a></li>{% endif %}
  {% if site.googleplus_username%}<li><a href="https://plus.google.com/{{ site.googleplus_username| escape }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#googleplus"></use></svg> <span class="username">{{ site.googleplus_username| escape }}</span></a></li>{% endif %}
  {% if site.rss %}<li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="/assets/img/minima-social-icons.svg#rss"></use></svg> <span>{{ site.rss | escape }}</span></a></li>{% endif %}
</ul>
