/* 
The main SCSS file for everything, yep
*/
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }
  a:hover {
    color: #000; }
  a:visited {
    color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }
  .posts li {
    line-height: 1.75em; }
  .posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }
  .title a {
    color: #a00; }
    .title a:hover {
      color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }
  .header a.extra:hover {
    color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }
  .footer .contact {
    float: left;
    margin-right: 3em; }
    .footer .contact a {
      color: #8085C1; }
  .footer .rss {
    margin-top: 1.1em;
    margin-right: -0.2em;
    float: right; }
    .footer .rss img {
      border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 0.4em; }
.post ul, .post ol {
  margin-left: 1.35em; }
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 0.2em; }
.post pre {
  /* terminal */ }
  .post pre code {
    border: none; }
  .post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF; }
    .post pre.terminal code {
      background-color: #333; }

.highlight {
  background: #ffffff; }
  .highlight .c {
    /* Comment */
    color: #999988;
    font-style: italic; }
  .highlight .err {
    /* Error */
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k, .highlight .o {
    /* Keyword & Operator */
    font-weight: bold; }
  .highlight .cm {
    /* Comment.Multiline */
    color: #999988;
    font-style: italic; }
  .highlight .cp {
    /* Comment.Preproc */
    color: #999999;
    font-weight: bold; }
  .highlight .c1 {
    /* Comment.Single */
    color: #999988;
    font-style: italic; }
  .highlight .cs {
    /* Comment.Special */
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    /* Generic.Deleted */
    color: #000000;
    background-color: #ffdddd; }
    .highlight .gd .x {
      /* Generic.Deleted.Specific */
      color: #000000;
      background-color: #ffaaaa; }
  .highlight .ge {
    /* Generic.Emph */
    font-style: italic; }
  .highlight .gr {
    /* Generic.Error */
    color: #aa0000; }
  .highlight .gh {
    /* Generic.Heading */
    color: #999999; }
  .highlight .gi {
    /* Generic.Inserted */
    color: #000000;
    background-color: #ddffdd; }
    .highlight .gi .x {
      /* Generic.Inserted.Specific */
      color: #000000;
      background-color: #aaffaa; }
  .highlight .go {
    /* Generic.Output */
    color: #888888; }
  .highlight .gp {
    /* Generic.Prompt */
    color: #555555; }
  .highlight .gs {
    /* Generic.Strong */
    font-weight: bold; }
  .highlight .gu {
    /* Generic.Subheading */
    color: #aaaaaa; }
  .highlight .gt {
    /* Generic.Traceback */
    color: #aa0000; }
  .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
    /* Keyword.{Constant,Declaration,Pseudo,Reserved} */
    font-weight: bold; }
  .highlight .kt {
    /* Keyword.Type */
    color: #445588;
    font-weight: bold; }
  .highlight .m {
    /* Literal.Number */
    color: #009999; }
  .highlight .s {
    /* Literal.String */
    color: #dd1144; }
  .highlight .na {
    /* Name.Attribute */
    color: teal; }
  .highlight .nb {
    /* Name.Builtin */
    color: #0086b3; }
  .highlight .nc {
    /* Name.Class */
    color: #445588;
    font-weight: bold; }
  .highlight .no {
    /* Name.Constant */
    color: teal; }
  .highlight .ni {
    /* Name.Entity */
    color: purple; }
  .highlight .ne, .highlight .nf {
    /* Name.Exception & Name.Function */
    color: #990000;
    font-weight: bold; }
  .highlight .nn {
    /* Name.Namespace */
    color: #555555; }
  .highlight .nt {
    /* Name.Tag */
    color: navy; }
  .highlight .nv {
    /* Name.Variable */
    color: teal; }
  .highlight .ow {
    /* Operator.Word */
    font-weight: bold; }
  .highlight .w {
    /* Text.Whitespace */
    color: #bbbbbb; }
  .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    /* Literal.Number.{Float,Hex,Integer,Oct} */
    color: #009999; }
  .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
    /* Literal.String.{Backtick,Char,Doc,Double,Escape,Heredoc,Interpol,Other} */
    color: #dd1144; }
  .highlight .sr {
    /* Literal.String.Regex */
    color: #009926; }
  .highlight .s1 {
    /* Literal.String.Single */
    color: #dd1144; }
  .highlight .ss {
    /* Literal.String.Symbol */
    color: #990073; }
  .highlight .bp {
    /* Name.Builtin.Pseudo */
    color: #999999; }
  .highlight .vc, .highlight .vg, .highlight .vi {
    /* Name.Variable.{Class,Global,Instance} */
    color: teal; }
  .highlight .il {
    /* Literal.Number.Integer.Long */
    color: #009999; }
